@model Milestone__3.Models.Assessment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Assessment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalMarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalMarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassingMarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassingMarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Criteria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Criteria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weightage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weightage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Module)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Module.ModuleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
